@-webkit-keyframes rotateme {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        -webkit-transform: rotate(180deg);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 1;
    }
}
@-moz-keyframes rotateme {
    0% {
        -moz-transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        -moz-transform: rotate(180deg);
        opacity: 0.7;
    }
    100% {
        -moz-transform: rotate(360deg);
        opacity: 1;
    }
}
@-o-keyframes rotateme {
    0% {
        -o-transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        -o-transform: rotate(180deg);
        opacity: 0.7;
    }
    100% {
        -o-transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

/* Bob Up Down*/
@-webkit-keyframes float_up_down {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    50% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes float_up_down {
    0% {
        transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    50% {
        transform: translateY(30px);
        transform: translateY(30px);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}
